{% extends 'housemd_escape_room/base.html' %}

{% block content %}
<div class="hero text-center">
    <div class="container">
        <h1 class="display-3">HOUSE.MD Escape Rooms Experience</h1>
        <p class="lead">Can you solve the puzzles and escape in 80 minutes?</p>
        <a href="{% url 'booking' %}" class="btn btn-light btn-lg mt-3">Book Your Experience Today!</a>
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-md-4 text-center mb-4">
            <h3>Medical Mystery Puzzles</h3>
            <p>Analyze clues from the Diagnostics Conference Room, decode House’s cryptic notes, and piece together the final diagnosis.</p>
        </div>
        <div class="col-md-4 text-center mb-4">
            <h3>Four Immersive Rooms</h3>
            <p>Explore the Conference Room, House’s Office, the Diagnostics Lab, and the ICU Corridor each packed with unique challenges.</p>
        </div>
        <div class="col-md-4 text-center mb-4">
            <h3>80 Minutes</h3>
            <p>Move through all four rooms, solve every puzzle, and uncover the diagnosis before the patient’s time runs out.</p>
        </div>
    </div>

    
{% endblock %}