{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="{% static 'css/404.css' %}" />
</head>

<body>
    <section>
        <div class="hero text-center">
            <div class="container">
                <div class="error-code">404</div>
                <h1>Oops! Page Not Found</h1>
                <a href="{% url 'home' %}" class="btn">Go to Homepage</a>
            </div>
        </div>
    </section>
</body>

</html>